@import './variables.scss';

.wrapper {
    padding: 7rem 0 10rem;
    .container {    
        @extend %container;
        .blogCard {
            display: grid;
            align-items: center;
            color: inherit;
            margin-top: 5rem;
            @media(max-width: $break-s) { 
                grid-template-columns: 1fr;
            }
        }
        
        .textContainer {
            padding: 0 2rem 0.8rem;
            @media(max-width: $break-s){ 
                padding: 2rem 2rem;
            }
            a {
                margin-top: 5px;
                font-size: 3.0rem;
                &:hover {
                    opacity: 0.8;
                }
            }
        }
        .cardImg {
            min-height: 300px;
            @media(max-width: $break-s) { 
                order: -1;
            }
        }
    }
}

// Paginatiom
.paginationWrapper {
    text-align: center;
    margin: 5rem auto;
    a {
        color: $primary-color;
        padding: 0 1rem;
    }
}